.box {
  background-color: #fbfbe3;
  box-shadow: var(--box-shadow);
  border: 10px solid #79c892;
  border-radius: 30px;
  text-align: center;
  padding: 14px;

  @media screen and (max-width: $bp-tablet){
    padding: 8px;
    font-size: 12px;
  }
}
