:root {
  --color-primary-dark: #1F2421;
  --color-primary-light: #fffdc5;

  --color-secondary-orang-light: #ffa76a;
  --color-secondary-orang-dark: #be5833;
  --color-secondary-orang-light_2: #f9b473;
  --color-secondary-orang: #ff7d2c;
  --color-secondary-blue: #0c8ff4;
  --color-secondary-blue-light: #15b4f8;
  --color-secondary-blue-dark: #0b63b1;
  --color-error: #E9190F;

  --color-text-white: #fff;
  --color-text-yellow-light: #f6eda3;

  --color-hover-btn-orang: #ffa94c;

  --color-border-top: #ffc06f;
  --color-border-bottom: #d96922;

  --bs-dark-rgb: 33,37,41;

  --box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.7);
  --text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}

