.container {
  width: 100%;
  max-width: 818px;
  background-color: var(--color-primary-container);
  position: relative;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  color: rgba(var(--bs-dark-rgb),1)!important;
  padding: 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  margin: 18px 0 0 0;

  @media screen and (max-width: $bp-tablet){
    margin: 0;
    border-radius: 0;
    padding: 8px;
    gap: 8px;
  }

  &__title {
    background-color: var(--color-secondary-title);
    border: 0;
    border-top: 3px solid var(--color-secondary-title-light);
    border-bottom: 3px solid var(--color-secondary-title-dark);
    border-radius: 30px;
    padding: 15px;
    font-size: 20px;
    color: var(--color-primary-light);
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 90%;
    position: absolute;
    top: -16px;
    left: 5%;

    @media screen and (max-width: $bp-tablet){
      font-size: 15px;
      position: static;
      width: 100%;
      margin-bottom: 0;
      padding: 8px;
    }
  }

  &__number {
    width: 100%;
    max-width: 387px;
    margin: 0 auto;
  }

  &__button {
    background-color: var(--color-secondary-blue);
    border-top: 3px solid var(--color-secondary-blue-light);
    border-bottom: 3px solid var(--color-secondary-blue-dark);
    align-self: center;

    &:hover {
      background: var(--color-secondary-blue-light);
    }
  }
}
