.game {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $bp-tablet){
    gap: 10px;
  }

  &__title {
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 18px;

    @media screen and (max-width: $bp-tablet){
      font-size: 18px;
    }
  }

  &__wrapper {
    width: 36%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: left;

    @media screen and (max-width: $bp-tablet){
      width: 48%;
      gap: 8px;
      padding: 10px;
    }
  }

  &__text {
    font-size: 28px;
    margin-bottom: 0;

    @media screen and (max-width: $bp-tablet){
      font-size: 15px;
    }
  }

  &__input {
    @media screen and (max-width: $bp-tablet){
      width: 100%;
    }
  }

  &__button {
    background: var(--color-secondary-green);
    border-top: 3px solid var(--color-border-top);
    border-bottom: 3px solid var(--color-border-bottom);
    width: 100%;

    &:hover {
      background: var(--color-hover-btn);;
    }
  }
}
