.game {
  display: flex;
  justify-content: space-between;

  &__title {
    font-weight: 800;
    font-size: 35px;
  }

  &__wrapper {
    width: 36%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
  }

  &__text {
    font-size: 35px;
    margin-bottom: 0;
  }

  &__button {
    background: var(--color-secondary-orang);
    border-top: 3px solid var(--color-border-top);
    border-bottom: 3px solid var(--color-border-bottom);
    width: 100%;

    &:hover {
      background: var(--color-hover-btn-orang);;
    }
  }
}